<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feed de Anuncios</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
   <ion-list>
     <button ion-item detail-none block menuClose *ngFor="let p of pages" (click)="openPage(p.page)">
       <ion-icon item-start [name]="p.icon"></ion-icon>
       {{ p.title }}
     </button>
   </ion-list>

 </ion-content>

<ion-content padding>

  <ion-item>
    <ion-label floating></ion-label>
    <ion-input type="text"> </ion-input>
  </ion-item>
  <ion-searchbar [(ngModel)]="searchQuery" (input)="getItems($event)"></ion-searchbar>
  <ion-card *ngFor="let item of anuncios" (click)="openCard(item)">

    <img src= {{item.src}}/>

    <ion-card-content>
      <ion-card-title>
        {{item.titulo}}
      </ion-card-title>
      <p>
        {{item.descricao}}
      </p>
    </ion-card-content>

  </ion-card>

  <ion-fab bottom right >
    <button ion-fab color="danger" (click)="cadastrarAnuncio()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
